{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block section %}
<section id="login">
  <div class="container">
      <form action="/changePassword" data-toggle="validator" method="post">
          <fieldset>
              <div class="form-group">
                  <label for="password" class="control-label">Old Password</label>
                  <input class="form-control" name="oldpassword" required type="password"/>
              <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                  <label for="password" class="control-label">New Password</label>
                  <input class="form-control" id="password" name="newpassword" required type="password" minlength="8" required/>
              <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                  <label for="password" class="control-label">Confirm New Password</label>
                  <input class="form-control" id="password" name="cpassword" required type="password" minlength="8" required/>
              <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                  <button class="btn btn-default" type="submit">Change My Password</button>
              </div>
          </fieldset>
      </form>
  </div>
</section>
    
{% endblock %}