{% extends "layout.html" %}

{% block title %}
    My Events
{% endblock %}

{% block section %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th><h3>Event Name</h3></th>
        <th><h3>Location</h3></th>
        <th><h3>Date</h3></th>
      </tr>
    
    {% for myEvents in myEvent %}
      
      <tr>
        <td>{{ myEvents.event }}</td>
        <td>{{ myEvents.location }}</td>
        <td>{{ myEvents.date }}</td>
        <td>
            <a href="/myEvents/delete/{{myEvents.event_id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </table>
    <a href="/deleteEvents" class="btn btn-danger btn-xs" style="float: right; margin-right: 5%;">Deleted Events</a>
{% endblock %}