{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block section %}
    <section id="register">
        <div class="container">
            <form action="/register" data-toggle="validator" id="registration" method="post">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input class="form-control" id="username" name="username" required type="text"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input class="form-control" id="email" name="email" required type="email"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input class="form-control" data-minlength="8" id="password" name="password" required type="password"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="confirmation" class="control-label">Password (again)</label>
                    <input class="form-control" data-match="#password" data-match-error="passwords don't match" id="confirmation" name="confirmation" required type="password"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input data-error="checkbox unchecked" id="agreement" name="agreement" required type="checkbox"/> I agree
                        </label>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Register</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}